<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clasificación de Conceptos</title>
    <link rel="icon" href="https://media.discordapp.net/attachments/1060743212458844201/1345891990654419097/image.png?ex=67c63318&is=67c4e198&hm=d9ef54c8c0d670d5039ac387925226c3b2aa60320b3ca9c9d3e5d54a97558e25&=&format=webp&quality=lossless&width=485&height=488">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
  </head>
  <body>

    <div id="intro-screen">
      <h1 class="intro-title">¡Arrastra y suelta!</h1>
      <img src="{{ url_for('static', filename='intro.gif') }}" alt="Instrucción de arrastrar y soltar" class="intro-gif">
      <p class="intro-text">Arrastra y suelta los objetos en su correspondiente caja para clasificarlos correctamente.</p>
      <button id="close-intro">Siguiente</button>
  </div>
  


    <div id="titulo" class="titulo-principal">
        <h2 id="nivel-titulo">
            Clasificación de Conceptos
          </h2>
          
          <button id="hint-button" aria-label="Mostrar pista"> Pista 🔍</button>
    </div>

    <div id="hint-box" class="hidden">
        <span id="hint-text" class="hint-text"></span>
        <button id="close-hint" aria-label="Cerrar pista">❌</button>
    </div>
    
    <div class="error-container">
        <div id="error-message"></div>
      </div>

    <div class="container">
      <div id="items-container"></div>

      <div id="box-container" class="box-container"></div>
    </div>


    <div class="button-container">
      <button id="back-level" class="hidden action-button" aria-label="Volver al nivel anterior">Volver</button>
      <button id="next-level" class="hidden action-button" aria-label="Avanzar al siguiente nivel">Siguiente</button>
    </div>

    <div id="congratulations" class="hidden">
      <div class="confetti"></div>
      <h2>¡Felicidades! Has completado todos los niveles.</h2>
      <button id="back-to-home">Volver</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>